name: Create video

on:
    push:
        branches:
            - master
        paths:
            - 'content/**'
            - 'content/*.json'
            - '**.json'
    workflow_dispatch:

env:
    DEBUG: 1
    AZURE_TTS_KEY: ${{ secrets.AZURE_TTS_KEY }}
    AZURE_TTS_REGION: ${{ secrets.AZURE_TTS_REGION }}
    GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
    GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
    GOOGLE_REFRESH_TOKEN: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
    INSTAGRAM_EMAIL: ${{ secrets.INSTAGRAM_EMAIL }}
    INSTAGRAM_PASSWORD: ${{ secrets.INSTAGRAM_PASSWORD }}
    YOUTUBE_REFRESH_TOKEN: ${{ secrets.YOUTUBE_REFRESH_TOKEN }}
    #  ACTIONS_RUNNER_DEBUG: true
    #  ACTIONS_STEP_DEBUG: true

jobs:
    TextToSpeech:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.JS environment
              uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Global Yarn Config
              id: global
              run: |
                  echo "yarnPath=$(yarn cache dir)" >> $GITHUB_OUTPUT
                  yarn config set prefix $(yarn cache dir)
                  echo $(yarn global bin) >> $GITHUB_PATH
                  yarn config set global-folder $(yarn cache dir)

            - name: podcast-maker CLI cache
              uses: actions/cache@v3
              id: podcast-maker-cache
              with:
                  path: |
                      ${{ steps.global.outputs.yarnPath }}
                      **/node_modules
                  key: ${{ runner.os }}-yarn-${{ env.cache-version }}-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-${{ env.cache-version }}-
                      ${{ runner.os }}-yarn-
                      ${{ runner.os }}-

            - name: Install CLI
              if: steps.podcast-maker-cache.outputs.cache-hit != 'true'
              run: yarn global add podcast-maker

            - name: Create SymLink from content directory (on code) to content directory (created by podcast-maker CLI)
              run: |
                  DataPath=$(podcast-maker info content --dir | sed -e "s/\/[^\/]*$//")
                  ContentPath=$(podcast-maker info content --dir)
                  if [ -d "$ContentPath" ]; then 
                      ls $ContentPath;
                      echo "ContentPath exists, deleting it"; 
                      rm -rf $ContentPath; 
                  fi; 
                  echo "Creating SymLink from $(pwd)/content to $DataPath"; 
                  ln -s $(pwd)/content $DataPath

            - name: Create TTS
              run: podcast-maker create tts

            - name: Get tmp path
              id: tmp
              run: echo "tmpPath=$(podcast-maker info tmp --dir)" >> $GITHUB_OUTPUT

            - name: Save TTS files in Artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: audio-files
                  path: ${{ steps.tmp.outputs.tmpPath }}/*.mp3
                  retention-days: 3

            # - name: SSH debug
            #   if: ${{ failure() }}
            #   uses: mxschmitt/action-tmate@v3
            #   with:
            #       limit-access-to-actor: true

    YouTube:
        needs: [TextToSpeech]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.JS environment
              uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Install FFMPEG
              uses: FedericoCarboni/setup-ffmpeg@v1

            - name: Global Yarn Config
              id: global
              run: |
                  echo "yarnPath=$(yarn cache dir)" >> $GITHUB_OUTPUT
                  yarn config set prefix $(yarn cache dir)
                  echo $(yarn global bin) >> $GITHUB_PATH
                  yarn config set global-folder $(yarn cache dir)

            - name: podcast-maker CLI cache
              uses: actions/cache@v3
              id: podcast-maker-cache
              with:
                  path: |
                      ${{ steps.global.outputs.yarnPath }}
                      **/node_modules
                  key: ${{ runner.os }}-yarn-${{ env.cache-version }}-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-${{ env.cache-version }}-
                      ${{ runner.os }}-yarn-
                      ${{ runner.os }}-

            - name: Install CLI
              if: steps.podcast-maker-cache.outputs.cache-hit != 'true'
              run: yarn global add podcast-maker

            - name: Get tmp path
              id: tmp
              run: echo "tmpPath=$(podcast-maker info tmp --dir)" >> $GITHUB_OUTPUT

            - name: Download TTS files
              uses: actions/download-artifact@v2
              with:
                  name: audio-files
                  path: ${{ steps.tmp.outputs.tmpPath }}/

            - name: Create SymLink from content directory (on code) to content directory (created by podcast-maker CLI)
              run: |
                  DataPath=$(podcast-maker info content --dir | sed -e "s/\/[^\/]*$//")
                  ContentPath=$(podcast-maker info content --dir)
                  if [ -d "$ContentPath" ]; then 
                      ls $ContentPath;
                      echo "ContentPath exists, deleting it"; 
                      rm -rf $ContentPath; 
                  fi; 
                  echo "Creating SymLink from $(pwd)/content to $DataPath"; 
                  ln -s $(pwd)/content $DataPath

            - name: Create Youtube video
              run: podcast-maker create youtube --upload

            - name: Save video in Artifacts
              if: ${{ failure() }}
              uses: actions/upload-artifact@v3
              with:
                  name: youtube-video-assets
                  path: |
                      ${{ steps.tmp.outputs.tmpPath }}/*.mp4
                      ${{ steps.tmp.outputs.tmpPath }}/*.jpeg
                      ${{ steps.tmp.outputs.tmpPath }}/*.json
                      !${{ steps.tmp.outputs.tmpPath }}/example.json
                  retention-days: 2

            - name: Save content in Artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: content-file
                  path: |
                      ${{ steps.tmp.outputs.tmpPath }}/*.json
                      !${{ steps.tmp.outputs.tmpPath }}/example.json
                  retention-days: 2
