name: Create content file

on:
    schedule:
        - cron: '45 14 * * 1-5'
    workflow_dispatch:

env:
    DEBUG: 1
    GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
    GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
    GOOGLE_REFRESH_TOKEN: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
    #  ACTIONS_RUNNER_DEBUG: true
    #  ACTIONS_STEP_DEBUG: true

jobs:
    CacheDependencies:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup Node.JS environment
              uses: actions/setup-node@v2.1.4
              with:
                  node-version: 14.x

            - name: Cache node_modules
              id: dependencies
              uses: actions/cache@v2
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node_modules-${{ hashFiles('yarn.lock') }}

            - name: Install project dependencies
              if: steps.dependencies.outputs.cache-hit != 'true'
              run: yarn

    CreateContentFile:
        needs: [CacheDependencies]
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup Node.JS environment
              uses: actions/setup-node@v2.1.4
              with:
                  node-version: 14.x

            - name: Get node_modules from cache
              id: dependencies
              uses: actions/cache@v2
              with:
                  path: node_modules
                  key: ${{ runner.os }}-node_modules-${{ hashFiles('yarn.lock') }}

            - name: Install project dependencies
              if: steps.dependencies.outputs.cache-hit != 'true'
              run: yarn

            - name: Get current date
              id: date
              run: |
                  echo "::set-output name=formattedDate::$(date +%d/%m/%Y)"
                  echo "::set-output name=bashDate::$(date +%d-%m-%Y)"

            - name: Create Content File
              run: yarn content:mail

            - name: Create PR to master with Content File
              uses: peter-evans/create-pull-request@v3
              with:
                  title: Conteúdo ${{ steps.date.outputs.formattedDate }}
                  body: Automação - Conteúdo ${{ steps.date.outputs.formattedDate }}
                  branch: ${{ steps.date.outputs.formattedDate }}
                  commit-message: Conteúdo ${{ steps.date.outputs.formattedDate }}
                  labels: ${{ secrets.COMMIT_LABELS }}
